<div class="usatodayheadline">
	<h1>
		<%= @keyword.upcase %> </h1>

		<% if current_user %>
		<%= form_for :search do |f| %>
			<%= f.hidden_field :keyword, value: @keyword %>
			<%= f.submit %>
			<% end %>
		<% else %>
		<p> Please sign in to save, you nerd. </p>
		<% end %>

<div class="line"></div>


</div>
<p>
	<div class="minor">Headlines from USA Today: </div></br>
	<div class="usatodayheadline"><%= @usatoday["title"] %> </div>
	<br>
	
	<%= link_to @usatoday["description"], @usatoday["link"] %>

	<%#=@usatoday %>
</p>

<div class="line"></div>
