<div class="usatodayheadline">
	<h1>
		<%= @keyword.upcase %>

		<%= form_for :search, term: params[:keyword] do |f| %>
			<%= f.submit %>
		<% end %>
	</h1>
</div>
<p>
	Headlines from USA Today: </br>
	<%= @usatoday["title"] %>
	<br>
	
	<%= link_to @usatoday["description"], @usatoday["link"] %>

	<%#=@usatoday %>
</p>