<div class="container">
	<div class='row'>
		<div class="large-12 columns">
			<%= render partial: 'usatoday' %>

		</div>
	</div>


	<div class="row">
		<div class="small-8 columns">
			<%= form_tag root_path, :method => 'get' do %>
       

			<div class="usatodayheadlineinsta">
		
			</div>


	   <!--  <div class="usatodayheadline">
	    	<%= "#{@keyword}" %></div> -->
    
	    <br />

        <% @tag.each do |tag| %>

         <br /><%= image_tag tag.images.standard_resolution.url %>
        <br /> Username: <%= tag.caption.from.username %>
    <br /> Likes: <%= tag.likes.count %>
    <br /><a href="<%= tag.link %>"><%= tag.link %></a>

	  <% end %>
	  <% end %>
		</div>

		<div class="small-4 columns">
			<%= render partial: 'twitter' %>
		</div>
	</div>
</div>


	 <script>
    $(function(){
        $(".usatodayheadlineinsta").typed({
        strings: [" 	Top Trending Instagram Pictures " ],

        typeSpeed: 25
        });
    });
   
        </script>