    <%= form_tag root_path, :method => 'get' do %>
    
<header>
<h1>Here are the top Trending Instagram Pictures</h1>

</header>




<!--    <div class="row">
 -->    <div class="large-3 columns">
      <h2>Here's a list of the Top 10 instagram pictures:</h2>

  <% @instagram.each do |instagram| %>

    <%= image_tag instagram.images.standard_resolution.url %>
    
    <br /> Username: <%= instagram.caption.from.username %>
    <br /> Likes: <%= instagram.likes.count %>
    <br /><a href="<%= instagram.link %>"><%= instagram.link %></a>
  <br />

    <% end %>
<% end %>
    </div>

  <div class="large-3 columns">
    <h2><%= submit_tag "your #tag", class:"button expand" %></h2>
    
    <br />

        <% @tag.each do |tag| %>

        <%= image_tag tag.images.standard_resolution.url %>
        <%= tag.caption.text %>
      <br /> Likes: <%= tag.likes.count %>
    <br />Username: <%= tag.caption.from.username %>
    <br /><a href="<%= tag.link %>"><%= tag.link %></a>

        <% end %>
     

</div>

  <div class="large-3 columns">
      <h2>Top 10 instagram pictures near General Assembly:</h2>


  <% @instagramga.each do |instagramga| %>

    <%= image_tag instagramga.images.standard_resolution.url %>
      <br /> Likes: <%= instagramga.likes.count %>   
    <br />Username: <%= instagramga.caption.from.username %>
    <%= instagramga.caption.text %>
    <br /><a href="<%= instagramga.link %>"><%= instagramga.link %></a>
    <br />
     <% end %>
  
</div>

<div class="large-3 columns">
      <h2>Top 10 instagram pictures near General Assembly:</h2>


  <% @instagramga.each do |instagramga| %>

    <%= image_tag instagramga.images.low_resolution.url %>
    <br /> Likes: <%= instagramga.likes.count %>    
    <br />Username: <%= instagramga.caption.from.username %>
    <%= instagramga.caption.text %>
    <br /><a href="<%= instagramga.link %>"><%= instagramga.link %></a>
    <br />
     <% end %>
  
</div>