<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(z:title) : "interestist." %></title>
      <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="/js/vendor/modernizr.js"></script>
  </head>

  <body>




<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <a href="google#pages"><h1 class="title">INTERESTIST.</h1></a>
      </section>


    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <% if current_user %>
          <% current_user.searches.each do |search| %>
            <li> <a href="news?keyword=<%= search.term %>"><%= search.term %></a> </li>
          <% end %>
        <% end %>

      </ul>
    </aside>


    <section class="main-section">

        <div>
              <% if current_user %>
                Hello, <strong><%= current_user.name %></strong>!
                <%= link_to "Sign out", signout_path, id: "sign_out" %>
              <% else %>
                <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
              <% end %>
            </div>


        

            <div class="small-12 columns">
              
              <%= yield %>

            </div>
        </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

  <div class="footer">
    <footer>
      <div class="medium-11 medium-centered columns"><hr/>
        <ul class="inline-list left" >
          <li>© Interestist, 2014 </li>
        </ul>
       <!--  <ul class="inline-list right">
          <li> Made at General Assembly Los Angeles. </li>
          <li><a href="/google/index">Interestist</a></li>
          <li><a href="http://hawttrends.appspot.com/">Google Trends</a></li> -->
         <!--  <li><a href="#">View GitHub Repo</a></li> -->
        </ul>
      </div>
    </footer>
  </div>
    <!-- foundation requirements -->
     <script src="/js/vendor/jquery.js"></script> 
     <script src="/js/vendor/fastclick.js"></script>   
     <script src="/js/foundation.min.js"></script>
     <script> $(document).foundation(); </script>
  </body>
</html>