<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(z:title) : "interestist." %></title>
      <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'><link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <%= javascript_include_tag "application" %>

 <div class="off-canvas-wrap" ng-controller="OffCanvasDemoCtrl">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">Interestist.</h1>
            </section>

            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><a href="#">Left Sidebar</a></li>
            </ul>
        </aside>
        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><a href="#">Right Sidebar</a></li>
            </ul>
        </aside>
        <section class="main-section">
            <div class="small-12 columns">
               <div class="headline">
					- TODAY'S <strong> CURRENT </strong> TRENDS -
				</div>

				<div class="garticle">
				<%= @garticles.each do | garticle | %>


				   <!--    <li><%=  garticle %></li> </br> -->
				          <li> <a href="<%= garticle %>"><%= garticle %></a> </li> </br>
				   
				     <% end %>
				 </div>

            </div>
        </section>

        <a class="exit-off-canvas"></a>
    </div>
</div>
      </div>

        
  </body>
</html>